body{
    font-family: Arial;
    margin:0;
    background:#f8f8f8;
}

header{
    background:#8b4513;
    color:white;
    padding:20px;
    text-align:center;
}

nav a{
    color:white;
    margin:10px;
    text-decoration:none;
}

.hero{
    text-align:center;
    padding:40px;
}

.hero img{
    width:300px;
    border-radius:10px;
}